# Python repetition

In [2]:
print("hej")

hej

In [3]:
school = "Handelsakademin"
school # __repr__

'Handelsakademin'

In [5]:
type(school)

str

In [6]:
len(school)

15

In [9]:
# comma , gives a tuple
# indexing
school[0], school[-1]

('H', 'n')

In [14]:
# slicing
school[:7], school[3:7]

('Handels', 'dels')

In [18]:
# reverse list
school[::-1]

'nimedakaslednaH'

plus operator is polymorphic and it's operator overloaded in different classes

In [21]:
# concatenation - __add__() is implemented in str class
"NBI-" + school

'NBI-Handelsakademin'

In [22]:
5+5

10

list

In [24]:
cool_list = ["fruit", 89, False, [1, 2, 3]]
cool_list

['fruit', 89, False, [1, 2, 3]]

In [25]:
# concatenation
cool_list + [True, True, False]

['fruit', 89, False, [1, 2, 3], True, True, False]

In [27]:
cool_list + list((True, True, False))

['fruit', 89, False, [1, 2, 3], True, True, False]

In [28]:
cool_list.append(list((True, True, False)))

In [29]:
cool_list

['fruit', 89, False, [1, 2, 3], [True, True, False]]

In [30]:
# x = int[10];
# for (int i = 0; i<10; i++){
#     x[i] = i;
# }

x = []
for i in range(10):
    x.append(i)
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
# more pythonic code
# list comprehension
x = [i for i in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
range(10)

range(0, 10)

In [34]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
[i for i in range(10) if i % 2]

[1, 3, 5, 7, 9]

In [39]:
# mutated the list
x[5] = "fjiaejfisj"
x

[0, 1, 2, 3, 4, 'fjiaejfisj', 6, 7, 8, 9]

In [40]:
my_tuple = (2,5,3)
my_tuple

(2, 5, 3)

In [41]:
my_tuple[1]

5

In [42]:
# tuples are immutable
my_tuple[1] = 55

TypeError: 'tuple' object does not support item assignment

sets

In [46]:
set([6,6,2,3,1])

{1, 2, 3, 6}

dict
- key-value pairs

In [47]:
rabbit = {"name": "Bella", "age": 2.5, "loves_hay": True}
rabbit

{'name': 'Bella', 'age': 2.5, 'loves_hay': True}

In [50]:
rabbit["name"], rabbit["loves_hay"]

('Bella', True)

In [51]:
for key in rabbit:
    print(key)

name
age
loves_hay

In [52]:
for key in rabbit:
    print(rabbit[key])

Bella
2.5
True

In [56]:
for key, value in rabbit.items():
    print(f"{key:<15} {value}")

name            Bella
age             2.5
loves_hay       True

functions

In [57]:
def squarer(number):
    return number**2

squarer(5)

25

In [59]:
tuple(squarer(i) for i in range(10))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [61]:
# variable amount of parameters 
def my_average(*numbers):
    sum_ = 0
    print(type(numbers))
    print(numbers)

my_average(1,2,3)

<class 'tuple'>
(1, 2, 3)

In [62]:
# *args - "star args"
def my_average(*numbers):
    sum_ = 0
    for number in numbers:
        sum_ += number
    return sum_/len(numbers)

my_average(1,2,3)

2.0

In [64]:
x[5]= 5
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
# my_average(x[0],x[1],x[2], ...)
my_average(x)

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [66]:
my_average(*x) # my_average(x[0], x[1], x[2], ...)

4.5

OOP

In [68]:
# defines a class (blueprint)
class Person:
    # dunder init 
    def __init__(self, name, age) -> None:
        self.name = name # attribute
        self.age = age 

# instantiates an instance from the class Person with arguments 
p1 = Person("Ada Lovelace", 25)
p1

# dunder repr:  __repr__()

In [69]:
hex(id(p1))

'0x108739810'

In [71]:
p1.name, p1.age

('Ada Lovelace', 25)