0. Hire IT employee data
In a company Hire IT, there are these employees.

  a) Create a list of dictionaries to represent this data, where each dictionary represents each row.

  b) Extract the second record in this dataset.

  c) Extract all rows from this dataset and print it in this format

In [10]:
employees = [

{"employeeID": 0, "name": "Alice", "department": "HR", "salary": 31000},
{"employeeID": 1, "name": "Bob", "department": "IT", "salary": 41000},
{"employeeID": 2, "name": "Charlie", "department": "HR", "salary": 28000},
]

print (employees)

[{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}, {'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}, {'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

In [11]:
print(employees[1])

{'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}

In [12]:
for employee in employees:
    name = employee["name"]
    department = employee["department"]
    salary = employee["salary"]
    print(f"{name} works in department {department} and earns {salary}.")

Alice works in department HR and earns 31000.
Bob works in department IT and earns 41000.
Charlie works in department HR and earns 28000.

In [13]:
total_salary = 0
nremployees = 0

for employee in employees:
        total_salary += employee["salary"]
        nremployees += 1

average_salary = total_salary / nremployees

print(average_salary)

33333.333333333336

In [14]:
total_salary = 0
nremployees = 0

for employee in employees:
    if employee["department"] == "HR":
        total_salary += employee["salary"]
        nremployees += 1

average_salary = total_salary / nremployees

print(average_salary)

29500.0

In [15]:
hr = [e for e in employees if e["department"] == "HR"]

print (hr)

[{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}, {'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

In [16]:
unique_dep = set(employee["department"] for employee in employees)

print(unique_dep)

{'HR', 'IT'}

In [17]:
employees = [

{"employeeID": 0, "name": "Alice", "department": "HR", "salary": 31000, "age": 26},
{"employeeID": 1, "name": "Bob", "department": "IT", "salary": 41000, "age":37},
{"employeeID": 2, "name": "Charlie", "department": "HR", "salary": 28000, "age":None},
]

print (employees)

[{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000, 'age': 26}, {'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000, 'age': 37}, {'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000, 'age': None}]

In [18]:
employees = [

{"employeeID": 0, "name": "Alice", "department": "HR", "salary": 31000, "age": 26},
{"employeeID": 1, "name": "Bob", "department": "IT", "salary": 41000, "age":37},
{"employeeID": 2, "name": "Charlie", "department": "HR", "salary": 28000, "age":None},
{"employeeID": 3, "name": "David", "department": None, "salary": 35000, "age":30},
]

print (employees)

[{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000, 'age': 26}, {'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000, 'age': 37}, {'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000, 'age': None}, {'employeeID': 3, 'name': 'David', 'department': None, 'salary': 35000, 'age': 30}]

-----

## POKEMON

In [19]:
class Pokemon:
    def __init__(self, name, type, level):
        self.name = name
        self.type = type
        self.level = level

pikachu = Pokemon(name="Pikachu", type = "Electric", level = 10)

print(pikachu.name, pikachu.type, pikachu.level)

Pikachu Electric 10

In [28]:
class Pokemon: 
    def __init__(self, name, type, level):
        self.name = name
        self.type = type
        self.level = level


    def __str__(self):
        return f"Pokemon: {self.name}, Type: {self.type}, Level: {self.level}"


    def __repr__(self):
        return f"Pokemon: name='{self.name}', type='{self.type}', level={self.level}"
    
pikachu = Pokemon(name="Pikachu", type = "Electric", level = 10)

print("__str__:")
print(pikachu)  

print("\n__repr__")
print(repr(pikachu))

__str__:
Pokemon: Pikachu, Type: Electric, Level: 10

__repr__
Pokemon: name='Pikachu', type='Electric', level=10

In [37]:
class Pokemon:
    def __init__(self, name, type, level):
        self.name = name
        self.type = type
        self.level = level

    def __str__(self):
            return f"Pokemon: {self.name}, Type: {self.type}, Level: {self.level}" 
            
    def __repr__(self):
          return f"Pokemon: name='{self.name}', type='{self.type}', level={self.level}"
        
class WaterPokemon(Pokemon):
    def __init__(self, name, level):
        self.name = name
        self.type = "Water"
        self.level = level

    def splash(self):
        print(f"{self.name} splashes some water!")

squirtle = WaterPokemon(name="Squirtle", level=12)

print(squirtle)

squirtle.splash()

Pokemon: Squirtle, Type: Water, Level: 12
Squirtle splashes some water!

In [45]:
class Pokemon:
    def __init__ (self, name , type, level):
        self.name = name
        self.type = type
        self.level = level

    def __str__(self):
            return f"Pokemon: {self.name}, Type: {self.type}, Level: {self.level}" 
    
class WaterPokemon(Pokemon):
    def __init__(self, name, level):
        self.name = name
        self.type = "Water"
        self.level = level

    def splash(self):
        print(f"{self.name} splashes some water!")

squirtle1 = WaterPokemon(name="Splashy", level=12)
squirtle2 = WaterPokemon(name="randomturtle", level = 2)
polywag = WaterPokemon(name="frog?", level = 17)

print(squirtle1)
print(squirtle2)
print(polywag)

print()

squirtle1.splash()
squirtle2.splash()
polywag.splash()

Pokemon: Splashy, Type: Water, Level: 12
Pokemon: randomturtle, Type: Water, Level: 2
Pokemon: frog?, Type: Water, Level: 17

Splashy splashes some water!
randomturtle splashes some water!
frog? splashes some water!